{% load extra_urls i18n admin_static admin_list admin_urls %}

{% for method_name,urlattrs in cl.model_admin.extra_buttons %}
    {% eval_extra_options method_name urlattrs as options %}
    {% if options.visible and options.authorized %}
        {% spaceless %}<li>
            <a id="btn-{{method_name}}" href="{% url cl.opts|admin_urlname:method_name %}?{{ options.querystring }}{% if is_popup %}&_popup=1{% endif %}"
               class="historylink extra-link {{options.css_class}} {{method_name}}">
                {% if options.icon %}
                    <i class="{{ options.icon }}"></i>&nbsp;
                {% endif %}
                {{ options.label }}
            </a></li>
        {% endspaceless %}
    {% endif %}
{% endfor %}

<script>
    (function($) {
        $('.btn').click(function(e) {
            if ($(this).hasClass( "disabled" )){
                e.preventDefault();
            }else{
                $(this).removeClass('btn-success').addClass('disabled');
            }
        });
    })(django.jQuery);
</script>
