{% load extra_urls i18n static admin_list admin_urls %}
{% for urlattrs in cl.model_admin.extra_actions %}
    {% if not urlattrs.details %}
        {% bind urlattrs as options %}
        {% if  options.visible and options.authorized %}
            {% include "admin_extra_urls/includes/button.html" with options=options %}
        {% endif %}
    {% endif %}
{% endfor %}

<script>
     (function ($) {
        $('.btn').click(function (e) {
            if ($(this).hasClass("disabled")) {
                e.preventDefault();
            } else {
                $(this).removeClass('btn-success').addClass('disabled');
            }
        });
    })(django.jQuery);
</script>
