{% load extra_urls i18n static admin_list admin_urls %}

{% for urlattrs in adminform.model_admin.extra_actions %}
    {% bind urlattrs as options %}
    {% if options.details and options.visible and options.authorized %}
    {% include "admin_extra_urls/includes/button.html" with options=options %}
    {% endif %}
{% endfor %}

<script>
    (function($) {
        $('.btn').click(function(e) {
            if ($(this).hasClass( "disabled" )){
                e.preventDefault();
            }else{
                $(this).removeClass('btn-success').addClass('disabled');
            }
        });
    })(django.jQuery);
</script>
