{% load extra_urls i18n admin_static admin_list admin_urls %}

{% for method_name,urlattrs in cl.model_admin.extra_buttons %}
    {% has_permission urlattrs.perm as authorized %}
    {% if authorized and urlattrs.visible %}
        {% spaceless %}
            <li><a id="btn-{{method_name}}" href="{% url cl.opts|admin_urlname:method_name %}{% if is_popup %}?_popup=1{% endif %}"
               class="extra-link {{urlattrs.css_class}} {{method_name}}">
                {% if urlattrs.icon %}
                    <i class="{{ urlattrs.icon }} icon-white"></i>&nbsp;
                {% endif %}
                {{ urlattrs.label }}
            </a></li>
        {% endspaceless %}
    {% endif %}
{% endfor %}

<script>
    grp.jQuery('.btn').click(function(e) {
        if ($(this).hasClass( "disabled" )){
            e.preventDefault();
        }else{
            $(this).removeClass('btn-success').addClass('disabled');
        }
    });
</script>
