{% extends "admin/change_list.html" %}
{% load i18n static admin_list admin_urls %}

{% block object-tools %}

    <ul class="object-tools grp-object-tools">
        {% block object-tools-items %}
            {% if has_add_permission %}
               <li> <a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?_popup=1{% endif %}"
                   class="btn btn-success grp-add-link grp-state-focus">
                    <i class="icon-plus-sign icon-white"></i>&nbsp;
                    {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
                </a></li>
            {% endif %}
            {% include "admin_extra_urls/grappelli/includes/change_list_buttons.html" %}
        {% endblock %}
    </ul>

{% endblock %}
